html,body{
  width: 120rem;
}
::-webkit-scrollbar{
    display:none;
}
html{
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style:none;
    /*火狐下隐藏滚动条*/
    overflow:-moz-scrollbars-none;
}
.header{
  height: 4.75rem;
  background: #171e39;
}
.col1{
  width: 43%;
  height: 4.75rem;
  float: left;
}
.col2{
  width: 20%;
  height: 4.75rem;
  float: left;
}
.col3{
  width: 37%;
  height: 4.75rem;
  float: left;
}
.logo{
  margin-left: 7.6875rem;
  width: 22.5rem;
  height: 4.75rem;
  object-fit: scale-down;
  float: left;
}
.search{
  float: right;
  width: 19.375rem;
  height: 2.625rem;
  background: #ffffff;
  border-radius: 1.3125rem;
  outline: none;
  padding: 0.625rem 1.25rem;
  color: #333;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 1.1875rem;
  border: none;
}
.timer{
  width: 9.375rem;
  height: 3.75rem;
  background: linear-gradient(to right, #293252 , #171e39);
  border-radius: 0.625rem;
  padding: 0.5rem 1.25rem;
  margin-top: 0.625rem;
  margin-left: 38%;
}
.weather,.time{
  display: block;
}
.weather{
  height: 1.75rem;
}
.weather>b{
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
}
.weather>img{
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.time{
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}
.indoor{
  float: right;
  vertical-align: middle;
  /* display: inline-block; */
  /* width: 540px; */
  height: 40.375rem;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 1.0625rem;
  /* margin-right: 59px; */
}
.indoor > li {
  float: left;
  height: 40.375rem;
}
.indoor > li + li:before{
  display: inline-block;
  content: '';
  border-left: 0.0625rem solid #fff;
  margin: 0.5rem 2.5rem;
  width: 0.0625rem;
  height: 1.875rem;
  opacity: 0.3;
  vertical-align: middle;
}
.indoor > li > img{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.1875rem;
  margin-right: 0.9375rem;
}
.indoor_inner{
  vertical-align: middle;
  display: inline-block;
}
.indoor_inner > b{
  height: 1.5rem;
  font-size: 1.125rem;
  color: #ffffff;
}
.indoor_inner > span{
  display: block;
  height: 1.125rem;
  opacity: 0.6;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}
.btnGroup{
  vertical-align: middle;
  /* display: inline-block; */
  margin-top: 1.4375rem;
  float: right;
  margin-right: 1.25rem;
  margin-left: 3.6875rem;
}
.btnGroup>a{
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.btnGroup>a:first-child{
  margin-right: 1.6875rem;
}

.content{
  background-color: #0f1116;
  overflow: hidden;
}
.content_left{
	box-sizing: border-box;
	padding: 0.875rem 0.8125rem 1.375rem 1.25rem;
  width: 67.4375rem;
  float: left;
}
.content_right{
  
  width: 52.5rem;
  /* border-left:  0.625rem solid #0f1116; */
  float: left;
  height: 60rem;
}
.content_right_inner{
  width: 100%;
  height: 100%;
}
.navEx{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  display: -webkit-flex;
}
.navItems{
 flex:1;
 height:6.25rem;
 width: 15.75rem;
 background: #283258;
 border-radius: 0.375rem;
 padding: 2.125rem 0 0 3.3125rem;
 margin-right:  0.625rem;
 cursor: pointer;
}
.navItems.active{
	background-color: #2a3e8a;
}
.navItems:last-child{
  margin-right: 0rem;
}
.navItems > img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right:  0.625rem;
}
.navItems_inner{
  vertical-align: middle;
  display: inline-block;
}
.navItems_inner > b{
  height: 1.5rem;
  font-size: 1.125rem;
  color: #ffffff;
}
.navItems_inner > span{
  display: block;
  height: 1.125rem;
  opacity: 0.6;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}
.echartsGroup{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  display: -webkit-flex;
  margin-top:  0.625rem;
}
.groupItem{
  flex:1; 
}
.echartsGroup_left{
  margin-right:  0.625rem;
  width: 32.375rem;
  position: relative;
}
.echartsGroup_right {
	width: 32.3125rem;
}
.echarts1{
  width: 32.375rem;
  height: 19.125rem;
  background: linear-gradient(to right, #293252 , #171e39);
  border-radius: 0.375rem;
}
.echarts2{
  margin-top:  0.625rem;
  width: 32.375rem;
  height: 20.75rem;
  background: linear-gradient(to right, #293252 , #171e39);
  border-radius: 0.375rem;
}
.echarts2_item{
  position: absolute;
  right: 2.1875rem;
  top: 37.125rem;
  z-index: 9999;
}
.echarts2_item>span{
  display: inline-block;
  width: 3.75rem;
  height: 1.5rem;
  border: 0.0625rem solid #ffffff;
  border-radius: 0.8125rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}
.echarts3{
  margin-top:  0.625rem;
  width: 32.375rem;
  height: 20.25rem;
  background: #283258;
  border-radius: 0.375rem;
}
.echarts4{
  width: 32.3125rem;
  height: 29.875rem;
  background:linear-gradient(to right, #293252 , #171e39);
  border-radius: 0.375rem;
}
.echarts5{
  margin-top:  0.625rem;
  width: 32.3125rem;
  height: 10rem;
  /* background: #283258; */
  border-radius: 0.375rem;
}
.echarts6{
  margin-top:  0.625rem;
  width: 32.3125rem;
  height: 20.25rem;
  background: #283258;
  border-radius: 0.375rem;
}

.item_error{
  float: left;
}
.item_error > img{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.item_error > span{
  vertical-align: middle;
  display: inline-block;
  width: 8.8125rem;
  height: 2rem;
  opacity: 1;
  font-size: 0.75rem;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  color: #ffffff;
}
.item_error:last-child{
  margin-left: 1.8125rem;
}


.active{
  border: 0 !important;
  color: #333 !important;
  background: #f8d147;
}
.BMap_cpyCtrl
{
  display:none; 
}
.anchorBL{
  display:none; 
}